html, body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  align-items: center;
  border-radius: 50%;
  background-color: #000000;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-text:hover {
  cursor: pointer;
  color: #5f5f5f;
}

.form-check-input:hover {
  cursor: pointer;
}

.left > a {
  color: rgb(81, 104, 236);
}

.right > a {
  color: rgb(81, 104, 236);
  transition: all 0.5s ease;
}

.left > a:hover {
  color: rgb(78, 85, 133);
}

.right > a:hover {
  background-color: rgb(78, 85, 133, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 0px 0px 20px 20px;
}

.gradient {
  background: rgb(127,97,167);
  background: linear-gradient(
    90deg, 
  #7f61a7 52%, 
  rgb(136, 92, 197) 100%, 
  rgb(179, 122, 233) 100%, 
  rgba(236,236,236,1) 100%
  );
}

.page-header {
  margin-top: 5rem;
  font-size: 1.25rem;
  color: #fff;

}

.projects {
  color: #fff;
}

.projects ul {
  padding-left: 2rem;
  list-style-type: none;
}

.projects ul li {
  padding-left: 2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  
}

.formation ul li {
  list-style-image: url(wrench.svg);
}

.formation ul li a {
  text-decoration: none;
}

.link-success {
  color:rgb(136, 92, 197);
}

.link-success:hover {
  color:rgb(101, 74, 141);
}

.link-success:focus {
  color:rgb(77, 61, 100);
}

.link-success-violet-background {
  text-decoration: none;
  color:rgb(233, 225, 241)
}


.link-success-violet-background:hover {
  color:rgb(220, 184, 255)
}
